$base-font-size: 18px;

// Site colors
$color-bg: #FAFAFA;
$color-light: #ffffff;
$color-grey-100: #999999;
$color-grey-200: #545351;
$color-grey-300: #302F2D;
$color-red: #E65639;
$color-border: #E6E6E6;

// Transitions
$transition-duration-base: .3s ease;

* {
    box-sizing: border-box;
}

body {
    background-color: $color-light;
    color: $color-grey-300;
    font-size: $base-font-size;
    font-family: 'FuturaPTBook', sans-serif;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    position: relative;
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    color: inherit;
    text-align: center;
    text-decoration: none;
    font-family: inherit;
    line-height: inherit;
    font-size: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    transition: $transition-duration-base;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@import "block/*.scss";