@charset "UTF-8";

label {
  display: flex;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    span {
      color: $color-red;
    }
  }

  input {
    display: none;

    &:checked {
     + span {
       color: $color-red;
      }
    }

    &:disabled {
      +  span {
        opacity: .2;
      }
    }
  }
}