@charset "UTF-8";

.dropdown-trigger {
  height: 40px;
  font-size: $base-font-size;
  font-family: 'FuturaPTBook', sans-serif;
  line-height: 1.5;

  svg {
    width: 20px;
    height: 20px;
    margin: 0 10px;
  }

  &:before {
    content: '';
    display: block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: 1px solid $color-border;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.dropdown-trigger__text {
  padding-left: 20px;
}