@charset "UTF-8";

.level-list-wrapper {
  &.active {
    & .level-list.active {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }

  .level-list {
    transition: opacity, visibility, transform;
    transition-timing-function: cubic-bezier(.465, .183, .153, .946);
    transition-duration: .3s;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: $color-light;
    display: flex;
    flex-flow: column nowrap;
    overflow-y: hidden;
    overflow-x: hidden;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      width: 100%;
      padding: 0 20px;
      margin: 15px 0;
    }

  }

  & .level-list .level-list {
    transform: translateX(100%);
  }
}


.level-list__checkbox {
  width: 100%;
}

.level-list__back {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: $color-grey-100;

  &::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4741 15L7.49141 10L12.4741 5' stroke='%23999999' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    margin-right: 10px;
  }

  &:hover {
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4741 15L7.49141 10L12.4741 5' stroke='%23E65639' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
  }
}

.level-list__next {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.49136 15L12.4741 10L7.49136 5' stroke='%23999999' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
  }

  &:hover {
    &::after {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.49133 15L12.474 10L7.49133 5' stroke='%23E65639' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
  }
}