extends layout/app
include mixins/index

block page
  .dropdown-wrapper.js-dropdown-wrapper
    button.dropdown-trigger.js-dropdown-trigger(type='button')
      +insertSvg('plus')
      span.dropdown-trigger__text Выбрать ещё

    include chunk/dropdown